<div ng-cloak="">
    <md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="amCharts" ui-sref="home.amcharts">
                <div ui-view="amcharts"></div>
            </md-tab>
            <md-tab label="HighCharts" ui-sref="home.highcharts">
                <div ui-view="highcharts"></div>
            </md-tab>
            <md-tab label="D3JS" ui-sref="home.d3js">
                <div ui-view="d3js"></div>
            </md-tab>
            <md-tab label="raphaelJS" ui-sref="home.raphaeljs">
                <div ui-view="raphaeljs"></div>
            </md-tab>
        </md-tabs>
    </md-content>
</div>